[submodule "markdown/bookmarks"]
	path = markdown/bookmarks
	url = git://kutkevich.org/bookmarks.git
[submodule "markdown/rc"]
	path = markdown/rc
	url = git://kutkevich.org/rc.git
[submodule "public/jquery"]
	path = public/jquery
	url = git://github.com/jquery/jquery.git
[submodule "public/blueprint"]
	path = public/blueprint
	url = git://github.com/joshuaclayton/blueprint-css.git
